In [6]:
import yfinance as yf
import numpy as np
import pandas as pd

In [4]:
tesla = yf.Ticker("TSLA")
hist = tesla.history(period="10y")

In [8]:
hist[4:]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-02-27,6.682000,6.800000,6.600000,6.724000,3030000,0,0.0
2012-02-28,6.728000,6.888000,6.634000,6.762000,3061000,0,0.0
2012-02-29,6.762000,6.824000,6.628000,6.682000,2678500,0,0.0
2012-03-01,6.702000,6.900000,6.662000,6.882000,3517500,0,0.0
2012-03-02,6.880000,6.900000,6.742000,6.808000,2750000,0,0.0
...,...,...,...,...,...,...,...
2022-02-14,861.570007,898.880005,853.150024,875.760010,22515100,0,0.0
2022-02-15,900.000000,923.000000,893.380005,922.429993,19216500,0,0.0
2022-02-16,914.049988,926.429993,901.210022,923.390015,17098100,0,0.0
2022-02-17,913.260010,918.500000,874.099976,876.349976,18392800,0,0.0
2022-02-18,886.000000,886.869995,837.609985,856.979980,22710500,0,0.0

In [43]:
df = hist.copy()

In [24]:
df[-4:]['Close'].mean()

894.7874908447266

In [25]:
df[2514:2518]['Close']

Date
2022-02-15    922.429993
2022-02-16    923.390015
2022-02-17    876.349976
2022-02-18    856.979980
Name: Close, dtype: float64

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-02-21,6.974000,6.974000,6.762000,6.900000,5679000,0,0.0
2012-02-22,6.900000,6.944000,6.500000,6.844000,8273000,0,0.0
2012-02-23,6.798000,6.994000,6.712000,6.906000,4102000,0,0.0
2012-02-24,6.846000,6.904000,6.654000,6.750000,4799500,0,0.0
2012-02-27,6.682000,6.800000,6.600000,6.724000,3030000,0,0.0
...,...,...,...,...,...,...,...
2022-02-14,861.570007,898.880005,853.150024,875.760010,22515100,0,0.0
2022-02-15,900.000000,923.000000,893.380005,922.429993,19216500,0,0.0
2022-02-16,914.049988,926.429993,901.210022,923.390015,17098100,0,0.0
2022-02-17,913.260010,918.500000,874.099976,876.349976,18392800,0,0.0
2022-02-18,886.000000,886.869995,837.609985,856.979980,22710500,0,0.0

In [58]:
def bollinger_bands(data, column, period, standard_deviations=2):
    """Bollinger Lower, Middle and Upper bands over a specified period
       Input:
           data: dataframe
           column: column name to apply the Bollinger Bands
           period: number of days of the window
           standard_deviations: number of standard deviation for the lower and upper bands from the middle one
       Output: original dataframe with the {column}_bbl, {column}_bbm, {column}_bbu"""
    result = data.copy()
    sma = result[column].rolling(window=period, closed='right').mean()
    band = standard_deviations * result[column].rolling(window=period, closed='right').std()
    result[f'{column}_bbl'] = sma - band
    result[f'{column}_bbm'] = sma
    result[f'{column}_bbu'] = sma + band
    return result

In [59]:
def moving_average(data, column, period):
    """Average price over a specified period
       Input:
           data: dataframe
           column: column name to apply the moving avreage
           period: number of days of the window
       Output: original dataframe with the {column}_ma"""
    result = data.copy()
    result[f'{column}_ma'] = result[column].rolling(window=period, closed='right').mean()
    return result

In [63]:
bollinger_bands(hist, 'Close', 20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Close_bbl,Close_bbm,Close_bbu
Date,,,,,,,,,,
2012-02-21,6.974000,6.974000,6.762000,6.900000,5679000,0,0.0,NaN,NaN,NaN
2012-02-22,6.900000,6.944000,6.500000,6.844000,8273000,0,0.0,NaN,NaN,NaN
2012-02-23,6.798000,6.994000,6.712000,6.906000,4102000,0,0.0,NaN,NaN,NaN
2012-02-24,6.846000,6.904000,6.654000,6.750000,4799500,0,0.0,NaN,NaN,NaN
2012-02-27,6.682000,6.800000,6.600000,6.724000,3030000,0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-02-14,861.570007,898.880005,853.150024,875.760010,22515100,0,0.0,822.499477,920.866501,1019.233524
2022-02-15,900.000000,923.000000,893.380005,922.429993,19216500,0,0.0,831.660704,915.462500,999.264296
2022-02-16,914.049988,926.429993,901.210022,923.390015,17098100,0,0.0,836.834062,911.849500,986.864937
2022-02-17,913.260010,918.500000,874.099976,876.349976,18392800,0,0.0,840.731585,905.853497,970.975410
2022-02-18,886.000000,886.869995,837.609985,856.979980,22710500,0,0.0,835.481297,901.507495,967.533693