In [1]:
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

In [7]:
from springstone.data import get_data, get_missing_dates, create_train_test, create_df_for_prophet
from springstone.utils import bollinger_bands, moving_average
import pandas as pd

In [3]:
hist = get_data('TSLA')

[*********************100%***********************]  1 of 1 completed

In [ ]:
hist = bollinger_bands(hist, 'Close', 20, 2)
hist = moving_average(hist, 'Close', 7)

In [4]:
hist

                  Open        High         Low       Close    Volume
Date
2012-02-21    6.974000    6.974000    6.762000    6.900000   5679000
2012-02-22    6.900000    6.944000    6.500000    6.844000   8273000
2012-02-23    6.798000    6.994000    6.712000    6.906000   4102000
2012-02-24    6.846000    6.904000    6.654000    6.750000   4799500
2012-02-27    6.682000    6.800000    6.600000    6.724000   3030000
...                ...         ...         ...         ...       ...
2022-02-14  861.570007  898.880005  853.150024  875.760010  22585500
2022-02-15  900.000000  923.000000  893.380005  922.429993  19216500
2022-02-16  914.049988  926.429993  901.210022  923.390015  17098100
2022-02-17  913.260010  918.500000  874.099976  876.349976  18392800
2022-02-18  886.000000  886.869995  837.609985  856.979980  22710500

[2518 rows x 5 columns]

In [ ]:
from prophet import Prophet
from sklearn.metrics import mean_absolute_error

In [ ]:
df_prophet = create_df_for_prophet(hist)
df_train, df_test = create_train_test(df_prophet)

In [ ]:
df_train

In [ ]:
m_prophet = Prophet()
m_prophet.fit(df_train)

In [ ]:
future = m_prophet.make_future_dataframe(periods=30)
future

In [ ]:
forecast = m_prophet.predict(future)
forecast = forecast[-30:][['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [ ]:
forecast

In [ ]:
df_test[:30]

In [ ]:
mae_prophet = mean_absolute_error(df_test[:30]['y'], forecast['yhat'])
mae_prophet

In [ ]:
column = 'Volume'
hist.rename(columns={column: f'{column}_ma'})