In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
%load_ext autoreload
%autoreload 2

In [4]:
from springstone.data import get_data, create_df_for_prophet, create_train_test
df = get_data('TSLA')
df.head()

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close   Volume
Date
2012-02-21  6.974  6.974  6.762  6.900      6.900  5679000
2012-02-22  6.900  6.944  6.500  6.844      6.844  8273000
2012-02-23  6.798  6.994  6.712  6.906      6.906  4102000
2012-02-24  6.846  6.904  6.654  6.750      6.750  4799500
2012-02-27  6.682  6.800  6.600  6.724      6.724  3030000

In [5]:
df_prophet = create_df_for_prophet(df)
df_prophet.head()

          ds      y
0 2012-02-21  6.900
1 2012-02-22  6.844
2 2012-02-23  6.906
3 2012-02-24  6.750
4 2012-02-27  6.724

In [7]:
data_train, data_test = create_train_test(df_prophet)
print(data_train.head())
data_test.head()

          ds      y
0 2012-02-21  6.900
1 2012-02-22  6.844
2 2012-02-23  6.906
3 2012-02-24  6.750
4 2012-02-27  6.724

             ds           y
2014 2020-02-24  166.757996
2015 2020-02-25  159.981995
2016 2020-02-26  155.759995
2017 2020-02-27  135.800003
2018 2020-02-28  133.598007