In [ ]:
#pip install yfinance

In [115]:
import yfinance as yfB

ticker_name = "TSLA"
start = "2012-02-18"
end = "2022-02-18"

In [120]:
def get_data(ticker_name,start="2012-02-18",end="2022-02-19"):
    '''returns a DataFrame from yfinance'''  
    data = yfB.download(ticker_name,start,end)
    return data

In [121]:
get_data(ticker_name)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-02-21,6.974000,6.974000,6.762000,6.900000,6.900000,5679000
2012-02-22,6.900000,6.944000,6.500000,6.844000,6.844000,8273000
2012-02-23,6.798000,6.994000,6.712000,6.906000,6.906000,4102000
2012-02-24,6.846000,6.904000,6.654000,6.750000,6.750000,4799500
2012-02-27,6.682000,6.800000,6.600000,6.724000,6.724000,3030000
...,...,...,...,...,...,...
2022-02-14,861.570007,898.880005,853.150024,875.760010,875.760010,22515100
2022-02-15,900.000000,923.000000,893.380005,922.429993,922.429993,19216500
2022-02-16,914.049988,926.429993,901.210022,923.390015,923.390015,17098100
2022-02-17,913.260010,918.500000,874.099976,876.349976,876.349976,18392800
2022-02-18,886.000000,886.869995,837.609985,856.979980,856.979980,22710500

In [76]:
#tesla = yfB.Ticker("TSLA")
#hist = tesla.history(start=start,end=end)